{% extends "base.html" %}
{% set active_page = "GPSD-ng" %}
{% block title %}
{{ title }}
{% endblock %}
{% block meta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=0" />
{% endblock %}
{% block styles %}
{{ super() }}
<style>
    h1.used {
        color: #316931;
    }

    h1.notused {
        color: blue;
    }

    h1.nofix {
        color: orangered;
    }

    .ui-content {
        text-align: center;
        padding: 15px;
    }

    .ui-btn-success {
        background-color: #d5de9c;
    }

    .ui-btn-error {
        background-color: orangered;
    }
</style>
{% endblock %}
{% block script %}
// Add events
document.addEventListener("DOMContentLoaded", () => {
const refresh_images = document.querySelector('#refresh_images');

refresh_images.addEventListener("click", async () => {
await refreshPolarImage(refresh_images);
});


const restart_gpsd = document.querySelector('#restart_gpsd');
restart_gpsd.addEventListener("click", async () => {
await restartGPSD(restart_gpsd);
});
});


// Refresh polar Image
async function refreshPolarImage(button) {
const images = document.querySelectorAll('img[id^="polar_"]');

for (const image of images) {
try {
const response = await fetch(`${window.location.origin}/plugins/gpsd-ng/polar?device=${image.dataset.device}`);
if (response.ok) {
const base64Image = await response.text();
image.src = `data:image/png;base64,${base64Image}`;
button.classList.add('ui-btn-success');
} else {
console.error("Failed to fetch the image");
button.classList.add('ui-btn-error');
}
} catch (error) {
console.error("An error occurred while fetching the image:", error);
button.classList.add('ui-btn-error');
}
}

setTimeout(() => {
button.classList.remove('ui-btn-success');
button.classList.remove('ui-btn-error');
}, 5000);
}

// Restart GPSD
async function restartGPSD(button) {
try {
const response = await fetch(`${window.location.origin}/plugins/gpsd-ng/restart_gpsd`);
if (response.ok) {
console.info("GPSD restarted");
button.classList.add('ui-btn-success');

} else {
console.error("Failed to restart GPSD");
button.classList.add('ui-btn-error');
}
} catch (error) {
console.error("An error occurred while retstarting GPSD:", error);
button.classList.add('ui-btn-error');
}

setTimeout(() => {
button.classList.remove('ui-btn-success');
button.classList.remove('ui-btn-error');
}, 5000);
};

{% endblock %}
{% block content %}
<div data-role="header">
    <h1>GPS Statistics</h1>
</div>
<div role="main" class="ui-content">
    <p>
        {{statistics["nb_devices"]}} {% if statistics["nb_devices"] <= 1 %}device{% else %}devices{%endif%} found {% if
            not device in positions %}(No device used){% endif %}<br>
            <strong>{{statistics["completeness"]}}% of completeness</strong>
            ({{statistics["nb_position_files"]}} position files for {{statistics["nb_pcap_files"]}} pcap files)<br>
            {{statistics["nb_cached_elevation"]}} cached elevations
    </p>
    {% if current_position %}
    <p>
        <strong>Current position</strong>: {% set lat_long = current_position.format_lat_long() %}
        <a href="https://www.openstreetmap.org/?mlat={{current_position.latitude}}&mlon={{current_position.longitude}}&zoom=18"
            target="_blank">
            {{lat_long[0]}}, {{lat_long[1]}} ({{current_position.fix}})
        </a>
    </p>
    {% endif %}
</div>
{% for dkey in positions %}
<hr>
<div class="ui-grid-a ui-responsive ui-content">

    <div class="ui-block-a">
        {% if positions[dkey] %}

        {% if device == dkey %}
        {% set header_class="used" %}
        {% set usage_msg="used" %}
        {% elif positions[dkey].is_fixed() %}
        {% set header_class="notused" %}
        {% set usage_msg="not used" %}
        {% else %}
        {% set header_class="nofix" %}
        {% set usage_msg="no fix" %}
        {% endif %}

        <h1 class="{{header_class}}">{{positions[dkey].device}} ({{usage_msg}})</h1>
        {% set lat_long = positions[dkey].format_lat_long() %}
        <h2>
            {% if positions[dkey].is_fixed() %}
            <a href="https://www.openstreetmap.org/?mlat={{positions[dkey].latitude}}&mlon={{positions[dkey].longitude}}&zoom=18"
                target="_blank">
                {{lat_long[0]}}, {{lat_long[1]}} ({{positions[dkey].fix}})
            </a>
            {% else %}
            {{lat_long[0]}}, {{lat_long[1]}} ({{positions[dkey].fix}})
            {% endif %}
        </h2>

        <strong>Altitude</strong>: {{positions[dkey].format_altitude(units)}}, <strong>Speed</strong>:
        {{positions[dkey].format_speed(units)}}<br>
        <strong>Sattelites</strong>: {{positions[dkey].used_satellites}}
        used/{{positions[dkey].seen_satellites}}
        seen<br>
        <strong>Last fix</strong>:
        {% if positions[dkey].last_fix %}{{positions[dkey].last_fix.strftime('%d/%m/%Y %H:%M:%S %Z')}}
        ({{positions[dkey].last_fix_ago}}s ago)
        {% else %}No date{% endif %}<br>

        <strong>Last update</strong>:
        {% if positions[dkey].last_update %}{{positions[dkey].last_update.strftime('%d/%m/%Y %H:%M:%S %Z')}}
        ({{positions[dkey].last_update_ago}}s ago)
        {% else %}No date{% endif %}<br>

        <strong>Accuracy</strong>: {{positions[dkey].accuracy}}<br>
        {% else %}
        <strong>No data</strong><br>
        {% endif %}
    </div>
    <div class="ui-block-b">
        <img id="polar_{{loop.index}}" data-device="{{dkey}}"
            src="data:image/png;base64,{{positions[dkey].generate_polar_plot()}}" alt="Polar Image for {{dkey}}"
            aria-label="Polar Image for {{dkey}}" />
    </div>
    </tr>
</div>
{% endfor %}
<div data-role="footer">
    <div data-role="controlgroup" data-type="horizontal">
        <a id="restart_gpsd" aria-label="Restart GPSD server"
            class="ui-link ui-btn ui-icon-refresh ui-btn-icon-left">Restart&nbsp;GPSD&nbsp;server</a>
        <a id="refresh_images" aria-label="Refresh Polar Image"
            class="ui-link ui-btn ui-icon-refresh ui-btn-icon-left">Refresh&nbsp;all&nbsp;images</a>
    </div>
</div>
{% endblock %}