{% extends "base.html" %}
{% set active_page = "GPSD-ng" %}
{% block title %}
{{ title }}
{% endblock %}
{% block meta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=0" />
{% endblock %}
{% block styles %}
{{ super() }}
<style>
    #searchText {
        width: 100%;
    }

    table {
        table-layout: auto;
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
        text-align: center;
    }

    @media screen and (max-width:700px) {

        table,
        tr,
        td {
            padding: 0;
            border: 1px solid;
        }

        table {
            border: none;
        }

        tr:first-child,
        thead,
        th {
            display: none;
            border: none;
        }

        tr {
            float: left;
            width: 100%;
            margin-bottom: 2em;
        }

        td {
            float: center;
            width: 100%;
            padding: 1em;
        }

        td::before {
            content: attr(data-label);
            word-wrap: break-word;
            color: white;
            border-right: 2px solid;
            width: 20%;
            float: left;
            padding: 1em;
            font-weight: bold;
            margin: -1em 1em -1em -1em;
        }
    }
</style>
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<table id="tableOptions">
    <tr>
        <th>Device</th>
        <th>Polar Image</th>
    </tr>
    {% for dkey in positions %}
    <tr>
        <td>
            {% if positions[dkey] %}
            <h1>{{positions[dkey].device}}</h1>
            {% set lat_long = positions[dkey].format_lat_long() %}
            <h2>{{lat_long[0]}}, {{lat_long[1]}} ({{positions[dkey].fix}})</h2>            
            <strong>Altitude</strong>: {{positions[dkey].format_altitude(units)}}, <strong>Speed</strong>: {{positions[dkey].format_speed(units)}}<br>
            <strong>Sattelites</strong>: {{positions[dkey].used_satellites}} used/{{positions[dkey].viewed_satellites}} viewed<br>
            <strong>Date</strong>: {% if positions[dkey].date %}{{positions[dkey].date.strftime('%d/%m/%Y %H:%M:%S %Z')}}{% else %}No date{% endif %}<br>
            <strong>Accuracy</strong>: {{positions[dkey].accuracy}}<br>
            {% else %}
            <strong>No data</strong>
            {% endif %}
        </td>
        <td>
            <img id="polarImage" src="data:image/png;base64, {{positions[dkey].polar_plot }}"/>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}